<h1>Útiles</h1>
{{>flash}}
<ul>
    <li>
        <a href="/utiles/mail">Mail</a>
    </li>
    <li>
        <a href="/utiles/jwt">JWT</a>
    </li>
    <li>
        <a href="/utiles/qr">crear QR</a>
    </li>
    <li>
        <a href="/utiles/cliente-rest">Cliente rest</a>
    </li>
</ul>